{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Shop</title>
</head>
<body><nav class="navbar">
    <ul class="menu">
        <li><a href="{% url 'product-list' %}">All products</a></li>
        {% block menu %}{% endblock %}
    </ul>
</nav>
<div class="container">
    <h1>{% block page_header %}Products{% endblock page_header %}</h1>
    {% block content %}{% endblock content %}
</div>
</body>
</html>