<div class="pagination">
    <span class="step-links">
        <a href="?page=1">&laquo; First page</a>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Back</a>
        {% else %}
            <span class="page-disabled">Back</span>
        {% endif %}
        <form class="current-page" method="get">
            <label for="page">
                Page <input type="text" name="page" id="page" value="{{ page_obj.number }}">
                from {{ page_obj.paginator.num_pages }}.
            </label>
        </form>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <span class="page-disabled">Next</span>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">End &raquo;</a>
    </span>
</div>